@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #191825;
    color: #e8e8e8;
    height: 100vh;
}

#__next {
    height: 100%;
}

@font-face {
  font-family: "Lemon_Milk";
  src: url("/fonts/LEMONMILK-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}